// @see https://github.com/jtangelder/sass-loader#problems-with-url
// $ratchicons-path: '../fonts/';

//@import "../scss/base";
//@import "../scss/variables";
//@import "../scss/components/typography";
//@import "../scss/components/utilities";
$namespace: 'amt-' !default;

html,body {
  height: 100%;
}

body {
  background: #fff;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sk-demos {
  padding-top: 20px;
}

.sk-demos > h2,
.sk-demos > h3 {
  padding-left: 15px;
  padding-right: 15px;
  color: #555;
  font-size: 16px;
}

.sk-icons {
  font-size: 12px;
  background: #fff;
}
.sk-icons .#{$namespace}col {
  outline-color: #fff;
  cursor: pointer;
  text-align: center;

  .#{$namespace}icon {
    font-size: 20px;
  }

  &:active {
    background-color: #d9d9d9;
  }
}

.sk-icon-name {
  color: #888;
  display: block;
}

.sk-group-icons {
  .am2-fa-icon {
    margin-right: 10px;
  }
}

.ks-grid .#{$namespace}g {
  margin: 5px 5px 0;
  border: 1px dashed red;
  padding: 5px;
}

.ks-grid .#{$namespace}g .#{$namespace}g {
  margin: 5px 0;
  border-color: cornflowerblue;
}

.ks-grid .#{$namespace}col {
  border: 1px solid #ddd;
  min-height: 20px;
  background: #fff;
}
