html,
body {
  height: 100%;
  font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container {
  height: 100%;
}

.container-fill {
  height: 100%;
}

.container-fill > .container-fill {
  flex: 1 1 0;
  position: relative;
}

.container-scrollable {
  position: relative;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.container-column,
.container-row {
  display: flex;
  max-height: 100%;
  width: 100%;
}

.container-column > .container-fill,
.container-row > .container-fill {
  flex: 1 1 0;
  position: relative;
}

.container-column {
  flex-direction: column;
}

.container-row {
  flex-direction: row;
  height: auto;
}

// Header bar
.amt-header {
  display: flex;
  height: 66px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  z-index: 99;
  box-shadow: 0px 2px 5px #f0f0f0;

  .amt-logo {
    height: 100%;
    margin: 0;
  }

  .amt-logo-link {
    display: block;
    margin-right: 10px;
    font-size: 0px;
    width: 160px;
    height: 100%;
    background: url(https://t2.amazeui.org/imgs/logo.png) no-repeat center;
    background-size: 125px 24px;
  }

  .amt-nav {
    display: flex;
    height: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    margin-right: 60px;
    list-style: none;

    @media screen and (max-width: 640px){
      display: none;
    }

    li {
      height: 100%;
      margin-left: 30px;
    }

    a {
      position: relative;
      display: inline-block;
      line-height: 66px;
      vertical-align: middle;
      color: #333;
      font-weight: bold;

      &::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #0a76e2;
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
      }

      &:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left;
      }
    }
  }

  .am-topbar-toggle {
    font-size: 20px;
    line-height: 50px;
    width: 50px;
    text-align: center;
    cursor: pointer;
  }

  .am-topbar-collapse {
    @media (max-width: 640px) {
      position: absolute;
      top: 100%;
      padding: 0;
      background: #0e90d2;
    }
  }
}


// fix style override
.amt-sidebar {
  background-color: #fff !important;
}
.am-input-sm {
  font-size: 0.8rem !important;
}

.am-margin-top {
  margin-top: 1rem !important;
}

.am-form-field.am-input-sm {
  padding: 0.5rem;
  border-radius: 2px;
}
.am-margin-horizontal-sm {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
@media only screen and (min-width: 641px) {
  .am-topbar-nav>li>a {
    line-height: 66px;
  }
}

