[role="doc-main"] {
  display: flex;

  @media (min-width: 641px) {
    flex-direction: row;
    overflow: hidden;
  }

  @media (max-width: 640px) {
    flex-direction: column;
    height: 100%;
  }
}

.doc-content-container {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.doc-content {
  margin-left: auto;
  margin-right: auto;
  padding: 25px 15px;
  max-width: 1000px;

  @media (min-width: 641px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media (min-width: 1025px) {
    padding-top: 45px;
  }

  h1 tt,
  h1 code,
  h2 tt,
  h2 code,
  h3 tt,
  h3 code,
  h4 tt,
  h4 code,
  h5 tt,
  h5 code,
  h6 tt,
  h6 code {
    font-size: inherit;
  }

  h1 {
    padding-bottom: .4em;
    border-bottom: 1px solid #eee;
  }

  h2 {
    padding-bottom: .3em;
  }

  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.3em;
  }

  h3 {
    font-size: 1.2em;
  }
  h4 {
    font-size: 1.1em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1em;
    color: #777;
  }

  blockquote {
    border-left: 4px solid #dcf3ff;
    padding: 0 15px;
    color: #358ccb;
  }

  table {
    padding: 0;
    width: 100%;
    margin-bottom: 3rem;
  }
  tbody {
    font-size: 14px;
    line-height: 24px;
    color: #444444;
  }
  table tr {
    border-bottom: 1px solid #eeeeee;
    background-color: white;
    margin: 0;
    padding: 0;
  }
  table tr th {
    font-weight: bold;
    border-right: 1px solid #eeeeee;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
    white-space: nowrap;
  }
  table tr td {
    border-right: 1px solid #eeeeee;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }
  table tr th:first-child,
  table tr td:first-child {
    margin-top: 0;
  }
  table tr th:last-child,
  table tr td:last-child {
    margin-bottom: 0;
    border-right: none;
  }
  thead tr th:nth-child(1), thead tr th:nth-child(2) {
    width: 20%;
  }
  tbody tr td:nth-child(1), thead tr td:nth-child(3) {
    white-space: nowrap;
  }
  thead tr {
    background-color: #f8f8f8;
  }

  blockquote code {
    white-space: normal;
  }

  code {
    background: transparent;
    font-family: Consolas, 'MicroSoft YaHei',Monaco, 'Andale Mono', 'Ubuntu Mono', monospace ;
  }

  em {
    font-size: small;
    color: #666666;
  }

  div > h1 + p {
    margin-bottom: 3rem;
  }

  pre {
    border: none;
    border-radius: 2px;
    background-color: #272822;
  }

  button[data-clipboard-text] {
    border: 0;
  }

  // for demo
  .#{$col-prefix} {
    line-height: 40px;
    color: #fff;
    margin-bottom: 5px;

    &:nth-child(2n) {
      background: #218BF5;
    }
    &:nth-child(2n+1) {
      background: #3bb4f2;
    }
  }

  .#{$item-prefix}-title {
    font-size: rem-calc(15)
  }

  .amt-table table {
    margin: 0
  }

}

.doc-version {
  color: #999;
  font-variant: small-caps;
}

.doc-highlight {
  position: relative;
}

.code-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-top: none;
  font-size: 14px;

  span {
    cursor: pointer;
  }

  a + span {
    border-left: 1px solid #dedede;
  }

  span,
  a {
    display: block;
    padding: 3px 15px;
    color: #777;
  }
}

// copy status
.code-status {
  $success-bg: #272822;

  position: absolute;
  top: 0;
  right: 0;
  padding: 3px 8px;
  border-radius: 2px;
  font-size: 12px;
  background: $success-bg;
  color: #fff;
  transform: translateY(-120%);

  &:after {
    position: absolute;
    bottom: 0;
    right: 12px;
    content: "";
    border: 4px solid $success-bg;
    border-color: $success-bg transparent transparent transparent;
    transform: translate(-50%, 100%);
  }

  &.error {
    background: $global-alert;

    &:after {
      border-top-color: $global-alert;
    }
  }
}

.copy-status-enter {
  transform: translateY(-140%);
  opacity: 0.1;

  &.copy-status-enter-active {
    opacity: 1;
    transform: translateY(-120%);
    transition: all .25s;
  }
}

.copy-status-leave {
  opacity: 1;
  transform: translateY(-120%);

  &.copy-status-leave-active {
    opacity: 0.1;
    transform: translateY(-140%);
    transition: all .25s;
  }
}
