// Amaze UI Touch: Badge
// =============================================================================

@import "../env";

// Mixins
// -----------------------------------------------------------------------------
@mixin badge-layout(
  $fontsize: $badge-fontsize,
  $padding: $badge-padding
) {
  font-size: $fontsize;
  padding: $padding;
}

@mixin badge-style(
  $background: $badge-background,
  $color: $badge-color,
  $radius: $badge-radius
) {
  background: $background;
  border-radius: $radius;

  @if $color == auto {
    color: islight($background);
  } @else {
    color: $color;
  }
}

@mixin badge(
  $background: $badge-background,
  $color: $badge-color,
  $radius: $badge-radius,
  $fontsize: $badge-fontsize,
  $padding: $badge-padding
) {
  // display: inline-block;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  height: 18px;
  line-height: 1;
  vertical-align: center;
  cursor: default;
  min-width: 1.2em;
  z-index: 19;
  font-size: 12px !important;

  @include badge-layout($fontsize, $padding);
  @include badge-style($background, $color, $radius);
}

// output
// ---------------------------------------------------
.#{$badge-prefix} {
  @include badge();

  &.#{$badge-prefix}-point {
    min-width: unset;
    width: 12px;
    height: 12px;
    padding: 0;
    line-height: 12px;
  }
}

.#{$badge-prefix}-wrap {
  position: relative;
  display: inline-block;
  line-height: 1;
  margin-right: 1em;

  .#{$badge-prefix} {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%,-50%);
  }

  // optimize for different inner Component
  .#{$button-prefix} {
    margin: 0;
  }

  // NOTE: remove children margin. It need to be optimized.
  > div {
    margin: 0;
  }
}


// modifiers: colors
// -----------------------------------------------------------------------------
@each $color-key, $color in $am-colors {
  .#{$badge-prefix}-#{$color-key} {
    @include badge-style($color, auto);
  }
}

// modifiers: radius
// -----------------------------------------------------------------------------
@each $radius-key, $radius in $am-radius {
  .#{$badge-prefix}-#{$radius-key} {
    border-radius: $radius;
  }
}

.doc-content {
  .badge {
    margin: 5px;
  }
}
