// Amaze UI Touch: Card
// =============================================================================

@import "../env";

// Mixins
// -----------------------------------------------------------------------------
@mixin card-style(
  $background: $card-background,
  $color: $card-color
) {
  @if ($color == 'auto') {
    $color: islight($background);
  }

  background: $background;
  color: $color;
}

// general style for card-element
%card-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: rem-calc(44);
  padding: $card-padding;
}


// output
// -----------------------------------------------------------------------------

.#{$card-prefix} {
  margin: $card-margin;
  // fixes box-shadow
  // @see http://stackoverflow.com/questions/26407299/ios-8-box-shadow-on-iphone-6-plus
  border-radius: $card-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  @include card-style();
  color: #666;
}

.#{$card-prefix}-noMargin {
  margin: rem-calc(10) 0;
  border-radius: 0;
  .#{$card-prefix}-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .#{$card-prefix}-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.#{$card-prefix}.#{$card-prefix}-external {
  margin-top: 0;
  margin-bottom: rem-calc(20);
  background: inherit;
  box-shadow: none;
  .#{$card-prefix}-header {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: $card-padding 0;
  }
  .#{$card-prefix}-footer {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: $card-padding 0;
  }
  .#{$card-prefix}-body {
    background: $card-background;
    border-radius: $card-radius;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
}

.#{$card-prefix}.#{$card-prefix}-noMargin.#{$card-prefix}.#{$card-prefix}-external {
  .#{$card-prefix}-header {
    padding: $card-padding;
  }
  .#{$card-prefix}-footer {
    padding: $card-padding;
  }
  .#{$card-prefix}-body {
    border-radius: 0;
  }
}

.#{$card-prefix}.#{$card-prefix}-noline, .#{$card-prefix}.#{$card-prefix}-external {
  .#{$card-prefix}-header {
    border-bottom: 0;
  }
  .#{$card-prefix}-footer {
    border-top: 0;
  }
}

.#{$card-prefix}-header {
  @extend %card-section;
  border-bottom: 1px solid #eee;
  border-top-left-radius: $card-radius;
  border-top-right-radius: $card-radius;
}

// header with cover
.#{$card-prefix}-cover {
  background-size: cover;
  background-position: center;
  min-height: rem-calc(160); // TODO: to vh?
  color: darken($white, 5%);

  &.#{$card-prefix}-header {
    align-items: flex-end;
  }

  .#{$card-prefix}-title {
    color: inherit;
  }
}

.#{$card-prefix}-title {
  color: #313131;
  font-weight: initial;
  font-size: rem-calc(16);
  margin: 0;
}

.#{$card-prefix}-title-noMargin {
}

.#{$card-prefix}-title-external {
}

.#{$card-prefix}-body {
  padding: $card-padding
}

.#{$card-prefix}-body-noPadding {
  padding: 0
}

.#{$card-prefix}-footer {
  @extend %card-section;
  border-bottom-left-radius: $card-radius;
  border-bottom-right-radius: $card-radius;
  border-top: 1px solid #eee;
}

.#{$card-prefix}-footer-more {
  margin: -$card-padding rem-calc(11)-$card-padding;
  flex: 1;
  text-align: center;
  font-size: rem-calc(14);
  color: #666666;
  border-radius: 3px;
  user-select: none;
  cursor: pointer;
  &:active {
    background-color: rgba(0,0,0,.02);
  }
}

// TODO: mofidiers
// modifiers
// -----------------------------------------------------------------------------
@each $color-key, $color in $am-colors {

}
