// Amaze UI Touch: CheckBox
// =============================================================================

.#{$checkbox-group-prefix}-btn {
  > div {
    display: flex;
    width: calc((100% - 1.875rem) / 3);
    margin-right: rem-calc(15);
    padding: 0;
    &:nth-child(3n) {
      margin-right: 0;
    }
    > .#{$checkbox-prefix}-container {
      flex: 1;
      margin-right: 0;
    }
  }
}

.#{$checkbox-prefix}-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: rem-calc(45);
  background: $white;
  border-bottom: 1px solid #DDD;
  margin: 0;
  padding: 0 20px 0 15px;

  > span {
  	font-size: rem-calc(15);
  	color: #313131;
  }

  > input {
  	display: none;
		
  	+ span + span {
			font-size: rem-calc(13);
  		border-radius: rem-calc(3);
      color: $white;
	    border: 1px solid #999;
  	}

  	&:checked + span + span {
			font-size: rem-calc(15);
	    background: $global-primary;
	    border: none;
		}

	  &:checked:disabled + span + span {
			background-color: #CCC;
		}

    &:disabled {
      + span {
        color: #999;
      }

      + span + span {
        background-color: #EEE;
        color: #EEE;
        border-color: #CCC;
      }
    }
  }
  height: rem-calc(30);
  border-bottom: none;
  margin-bottom: rem-calc(15);
  display: inline-flex;
  min-width: calc((100% - 1.875rem) / 3);
  margin-right: rem-calc(15);
  border-radius: rem-calc(3);
  &:nth-child(3n) {
    margin-right: 0;
  }
  padding: 0;
  > span {
    user-select: none;
    font-size: rem-calc(13);
    border-radius: rem-calc(3);
    border: 1px solid $global-primary;
    text-align: center;
    flex: 1;
    height: 100%;
    line-height: rem-calc(29);
    color: #313131;
  }
  > input:checked + span {
    color: $white;
    background: $global-primary;
  }
  > input:disabled + span {
    border-color: #CCC;
    color: #999;
    background: $white;
  }
  > input:checked:disabled + span {
    border-color: #DDD;
    color: $white;
    background: #DDD;
  }
  > input + span + span {
    display: none;
  }
}

.#{$checkbox-group-prefix}-modal {
  .#{$checkbox-prefix}-container {
    width: 100%;
    margin-right: 0;
    border-radius: 0;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: rem-calc(45);
    background: $white;
    border-bottom: 1px solid #DDD;
    margin: 0;
    padding: 0 20px 0 15px;
      > span {
        font-size: rem-calc(15) !important;
        color: #313131 !important;
        border-radius: 0;
        border: 0;
        text-align: left;
        height: auto;
        line-height: auto;
        background: none !important;
      }
      > input:checked + span {
      }
      > input:disabled + span {
        color: #999;
        background: $white;
      }
      > input:checked:disabled + span {
        border-color: #DDD;
        color: $white;
        background: #DDD;
      }
      > input + span + span {
        display: initial;
      }
    > input + span {
      flex: 1;
    }

    > input {
      display: none;
      
      + span + span {
        flex: 0;
        height: rem-calc(15) !important;
        line-height: rem-calc(13) !important;
        font-size: rem-calc(13) !important;
        background: none;
        border-radius: rem-calc(3) !important;
        color: $white !important;
        border: 1px solid #999 !important;
      }

      &:checked + span + span {
        height: rem-calc(15) !important;
        line-height: rem-calc(15) !important;
        font-size: rem-calc(15) !important;
        background: $global-primary !important;
        border: none !important;
      }

      &:checked:disabled + span + span {
        background-color: #CCC !important;
      }

      &:disabled {
        + span {
          color: #999;
        }

        + span + span {
          background-color: #EEE !important;
          color: #EEE !important;
          border-color: #CCC !important;
        }
      }
    }

  }
}
