// Amaze UI Touch: Form && Field
// =============================================================================

@import "../env";

// Mixins & inherit
// -----------------------------------------------------------------------------
%paddings {
  padding-top: get-side($form-padding, top);
  padding-bottom: get-side($form-padding, bottom);
}

// Variables
// -----------------------------------------------------------------------------
$field-container-label-color: #666;


// Output
// -----------------------------------------------------------------------------

#{$text-field-selectors} {
  $padding-top: get-side($form-padding, top);
  $padding-bottom: get-side($form-padding, bottom);
  @include no-appearance;

  display: block;
  box-sizing: border-box;
  width: 100%;
  line-height: $form-label-single-line-height;
  padding: $text-field-padding;
  border: 1px solid $text-field-border;
  margin-bottom: 0;
  outline: 0;
  background: $text-field-background;
  color: $text-field-color;
  font-size: $form-fontsize;
  -webkit-font-smoothing: antialiased;
  vertical-align: middle;
  transition: border .15s;

  &:hover {
    border-color: $text-field-border-hover;
    background: $text-field-background-hover;
    color: $text-field-color-hover;
  }

  &:focus {
    outline: 0;
    border-color: $text-field-border-focus;
    background: $text-field-background-focus;
    color: $text-field-color-focus;
  }

  &::-moz-placeholder {
    color: $text-field-color-placeholder;
  }
  &::-webkit-input-placeholder {
    color:$text-field-color-placeholder;
  }
  &:-ms-input-placeholder {
    color:$text-field-color-placeholder;
  }
}

input[type="date"],
input[type="datetime"],
input[type="datetime-local"] {
  $padding-top: get-side($form-padding, top);
  $padding-bottom: get-side($form-padding, bottom);
  $height: $form-fontsize + $padding-top + $padding-bottom + rem-calc(2);
  height: $height;
}


// field Labels
.#{$field-prefix}-container {
  display: flex;
  flex-direction: column;
  font-size: $form-label-fontsize;
  line-height: $form-label-line-height;
  color: $form-label-color;
  border-bottom: 1px solid $text-field-border;
  margin-left: $field-margin-left;
  background: #fff;
  @extend %paddings;

  .#{$field-prefix}-label {
    display: flex;
    flex-direction: row;
    color: $field-container-label-color;
    font-size: $form-label-fontsize;
    line-height: $form-label-line-height;

    .#{$field-prefix}-tip {
      font-size: $field-tip-fontsize;
      color: $field-tip-color;
    }
  }

  input {
    padding: 0;
    border: 0;
  }
  select {
    margin: 0;
    border: 0;
  }
  textarea {
    padding: 0;
    border: 0;
  }
}


// one single line show
.#{$field-prefix}-single {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-bottom: 1px solid $text-field-border;
  margin-left: $field-margin-left;
  background: #fff;

  .#{$field-prefix}-label {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 4em;
    font-size: $form-label-fontsize;
    line-height: $form-label-single-line-height;
    @extend %paddings;
    margin-right: 1rem;
  }

  .#{$field-prefix}-wrap {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  .#{$field-prefix}-wrap-custom {
    padding-top: get-side($form-padding, top);
    padding-bottom: get-side($form-padding, top);
    overflow: hidden;

    .#{$tree-prefix}-wrap {
      padding: 0;
      border: none;
    }
  }

  .#{$field-prefix} {
    margin: 0 !important;
  }

  // tip
  .#{$field-prefix}-tip {
    font-size: $field-tip-single-fontsize;
    color: $field-tip-color;
  }

  input,input[type="range"] {
    width: 100%;
    height: auto;
    padding: 0;
    padding-top: get-side($form-padding, top);
    border: 0;
  }

  select {
    height: 100%;
  }

  textarea {
    height: auto;
    min-height: 5rem;
    padding-left: 0;
    padding-right: 0;
    @extend %paddings;
    border: 0;
  }

  .#{$switch-prefix} {
    align-self: flex-end;
    padding-top: get-side($form-padding, top) - rem-calc(3); // 3 is magic number
    margin-right: $field-margin-left !important;
  }
}

.#{$field-prefix}-underline-part {
  border-bottom: 0;

  .#{$field-prefix}-wrap {
    border-bottom: 1px solid $text-field-border;
  }
}


// Disabled state for field
.#{$field-prefix}-disabled {
  color: $text-field-disabled;
  cursor: $text-field-cursor-disabled;
}

// Disabled state for native input
input,
textarea {
  &.#{map_get($am-states, disabled)},
  &[disabled],
  &[readonly],
  fieldset[disabled] & {
    cursor: $text-field-cursor-disabled;
    color: $text-field-disabled;
    pointer-events: none;

    &:focus {
      color: $text-field-disabled;
    }
  }
}

// Form set
// -----------------------------------------------------------------------------
.#{$form-prefix}-set {
  margin-bottom: $global-spacing;

  > input {
    position: relative;
    top: -1px;
    border-radius: 0!important;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }

    &:focus {
      z-index: 2;
    }

    &:first-child {
      top: 1px;
    }

    &:last-child {
      top: -2px;
    }
  }
}

// Number input
// -----------------------------------------------------------------------------
input[type="number"] {
  &::-webkit-inner-spin-button {
  }

  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    background: $global-primary;
  }
}

// Select
// -----------------------------------------------------------------------------
select {
  $top-padding: get-side($form-padding, top);
  $bottom-padding: get-side($form-padding, bottom);
  $height: ($form-fontsize * 1.4) + $top-padding + $bottom-padding;
  $color: islight($select-background);

  @include no-appearance;
  display: block;
  width: 100%;
  // height: $height;
  padding: $form-padding;
  margin: 0 0 $global-spacing 0;
  font-size: $form-fontsize;
  line-height: normal;
  color: $select-color;
  border-radius: 0;
  border: 1px solid $text-field-border;

  @if $select-arrow {
    background: $select-background url(image-triangle($select-arrow-color)) right 10px center no-repeat;
    background-size: 8px 8px;
    padding-right: rem-calc(18) + get-side($form-padding, right);
  } @else {
    background-color: $select-background
  }

  &:hover {
    background-color: $select-background-hover;
  }

  &:focus {
    outline: 0;
  }

  // Remove IE10/11 dropdown arrow
  &::-ms-expand {
    display: none;
  }
}

// Textarea
// -----------------------------------------------------------------------------
textarea {
  height: auto;
  width: 100%;
  font-size: $form-fontsize;
  font-family: inherit;
  color: $text-field-color;
  resize: vertical;
}

// Field group
// -----------------------------------------------------------------------------
.#{$field-group-prefix} {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-bottom: 1px solid $text-field-border;

  &:last-child {
    margin-bottom: $global-margin;
  }

  // Stretch input
  > select {
    flex: 1;
    margin: 0;
  }

  > input {
    flex: 1;
    margin: 0;
    padding: 0;
    padding-top: get-side($form-padding, top);
    padding-bottom: get-side($form-padding, top);
    border: 0;
  }

  // Shrink label/buttons
  > .#{$button-prefix},
  .#{$field-group-prefix}-label {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;

    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }
  }

  > .#{$button-prefix} {
    font-size: rem-calc(12);
    padding: rem-calc(10);
  }
}

// Field group label style
.#{$field-group-prefix}-label {
  font-size: $form-label-fontsize;
  padding-left: 0;
  padding-right: $field-group-padding;
  color: $field-group-color;

  .#{$icon-prefix} {
    font-size: $form-icon-fontsize;
  }
}

@import "form-range";
// @import "form-meter-progress";
