// Amaze UI Touch: Icons
//
// @via https://github.com/twbs/ratchet/tree/master/fonts
// @licence MIT
// =============================================================================

@import "../env";

// Output
// -----------------------------------------------------------------------------
@each $family, $map in $icon-fonts {
  @font-face {
    font-family: $family;
    font-weight: map_get($map, weight);
    font-style: map_get($map, style);
    src: map_get($map, src);
  }
}

%font-icon {
  $font-family: '';
  @each $family, $map in $icon-fonts {
    $font-family: unquote('#{$font-family}#{$family}, ');
  }

  display: inline-block;
  font-family: unquote('#{$font-family}sans-serif');
  font-size: inherit;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.#{$icon-prefix} {
  @extend %font-icon;

  .#{$button-prefix} & {
    font-size: inherit;
  }
}

$icons: (
  thunder: \e900,
  rainy: \e901,
  sunny: \e902,
  sunny2: \e903,
  rainy2: \e904,
  sunny3: \e905,
  sunny4: \e906,
  moon: \e907,
  moon2: \e908,
  thunder-l: \e909,
  rainy-l: \e90a,
  sunny-l: \e90b,
  sunny2-l: \e90c,
  rainy2-l: \e90d,
  sunny4-l: \e90e,
  sunny3-l: \e90f,
  wind: \e910,
  moon-l: \e911,
  moon2-l: \e912,
  elect-c: \e913,
  elect-l-c: \e914,
  minus-l: \e915,
  circle-minus: \e916,
  circle-minus-l: \e917,
  alarm: \e918,
  information-c: \e919,
  elect: \e91a,
  elect-s: \e91b,
  elect-l-s: \e91c,
  square-l: \e91d,
  square-minus-l: \e91e,
  square-minus: \e91f,
  information: \e920,
  cancel-c: \e921,
  mark: \e922,
  circle-add: \e923,
  circle-add-l: \e924,
  add-l: \e925,
  alarm-l: \e926,
  information-l-c: \e927,
  cancel-l-c: \e928,
  cancel: \e929,
  cancel-l-s: \e92a,
  add-l-s: \e92b,
  cancel-s: \e92c,
  add-s: \e92d,
  information-l: \e92e,
  call: \e92f,
  call-l: \e930,
  clock-l: \e931,
  time-l: \e932,
  airplane: \e933,
  airplane-l: \e934,
  groups: \e935,
  groups-l: \e936,
  heart: \e937,
  star: \e938,
  home: \e939,
  more: \e93a,
  chart: \e93b,
  briefcase2: \e93c,
  show: \e93d,
  vidicon: \e93e,
  store: \e93f,
  shopping1: \e940,
  shopping2: \e941,
  shopping3: \e942,
  shopping4: \e946,
  remind: \e943,
  remind-x-l: \e945,
  camera: \e944,
  user: \e947,
  hot: \e948,
  page: \e949,
  loud: \e94a,
  encircle: \e94b,
  download: \e94c,
  revocation: \e94d,
  transfer: \e94e,
  sent: \e94f,
  folder: \e950,
  briefcase: \e951,
  password: \e952,
  password-close: \e953,
  user-list: \e954,
  talk: \e955,
  message: \e956,
  discussion: \e957,
  message-c: \e958,
  message-s: \e959,
  setting-square: \e95a,
  setting: \e95b,
  document-text: \e95c,
  document: \e95d,
  copy: \e95e,
  paper: \e95f,
  clipboard: \e960,
  write: \e961,
  dustbin: \e962,
  contact: \e963,
  organization-right: \e964,
  heart-l: \e965,
  star-l: \e966,
  home-l: \e967,
  more-l: \e968,
  chart-l: \e969,
  briefcase2-l: \e96a,
  show-l: \e96b,
  vidicon-l: \e96c,
  store-l: \e96d,
  shopping1-l: \e96e,
  shopping2-l: \e96f,
  shopping3-l: \e970,
  shopping4-l: \e974,
  remind-l: \e971,
  remind-x: \e973,
  camera-l: \e972,
  browser: \e975,
  mark-l: \e976,
  user-l: \e977,
  hot-l: \e978,
  page-l: \e979,
  contact-l: \e97a,
  organization-right-l: \e97b,
  application: \e97c,
  application-l: \e97d,
  phone: \e97e,
  mail-o: \e97f,
  sent-l: \e980,
  folder-l: \e981,
  briefcase-l: \e982,
  password-l: \e983,
  password-close-l: \e984,
  user-list-l: \e985,
  talk-l: \e986,
  message-l: \e987,
  discussion-l: \e988,
  message-c-l: \e989,
  message-s-l: \e98a,
  mail: \e98b,
  document-text-l: \e98c,
  document-l: \e98d,
  copy-l: \e98e,
  paper-l: \e98f,
  clipboard-l: \e990,
  write-l: \e991,
  company: \e992,
  shield: \e993,
  organization: \e994,
  organization-l: \e995,
  revocation-l: \e996,
  transfer-l: \e997,
  share: \e998,
  clip: \e999,
  link: \e99b,
  refresh: \e99c,
  refresh-both: \e99d,
  search: \e99e,
  search-plus: \e99f,
  browsers-outline: \e9a0,
  menu: \e9a1,
  search-decrease: \e9a2,
  navicon: \e9a3,
  setting-square-l: \e9a4,
  setting-l: \e9a5,
  setting2-l: \e99a,
  rank-down: \e9a6,
  rank-up: \e9a7,
  dustbin-l: \e9a8,
  down: \e9aa,
  up: \e9ab,
  right: \e9ac,
  left: \e9ad,
  circle-right: \e9ae,
  circle-up: \e9af,
  circle-down: \e9b0,
  left-arrows-c: \e9b1,
  right-arrows-c: \e9b2,
  up-arrows-c: \e9b3,
  arrows-up-down: \e9b4,
  arrows-left-right: \e9b5,
  arrows-alt-l: \e9b6,
  arrows-shrink-l: \e9b7,
  down-arrows-c: \e9b8,
  square-left: \e9b9,
  square-right: \e9ba,
  arrows-up-s: \e9bb,
  arrows-down-s: \e9bc,
  arrows-left-s: \e9bd,
  arrows-right-s: \e9be,
  pull-up: \e9a9,
  pull-down: \e9bf,
  right-circle-l: \e9c0,
  up-circle-l: \e9c1,
  down-circle-l: \e9c2,
  left-arrows-c-l: \e9c3,
  right-arrows-c-l: \e9c4,
  up-arrows-c-l: \e9c5,
  down-arrows-c-l: \e9c6,
  arrows-shrink: \e9c7,
  arrows-alt: \e9c8,
  arrows-right: \e9c9,
  arrows-left: \e9ca,
  arrows-up: \e9cb,
  arrows-down: \e9cc,
  left-l-s: \e9cd,
  right-l-s: \e9ce,
  up-l-s: \e9cf,
  down-l-s: \e9d0,
  arrows-left-l-s: \e9d1,
  arrows-right-l-s: \e9d2,
  arrows-up-l-s: \e9d3,
  arrows-down-l-s: \e9d4,
  double-right: \e9d5,
  double-left: \e9d6,
  extrem-left: \e9d7,
  extrem-right: \e9d8,
) !default;


// @see https://github.com/sass/sass/issues/659#issuecomment-119285467
@each $icon-name, $icon-code in $icons {
  .#{$icon-prefix}-#{$icon-name} {
    &:before {
      content: unquote('"#{$icon-code}"');
    }
  }
}
